@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
.page {
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.catalog {
  grid-template-rows: 408px;
  grid-template-columns: 200px;
  gap: 46px 48px;
  padding: 50px 40px;
  display: grid;
}

@media screen and (width >= 488px) {
  .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 768px) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (width >= 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width >= 1200px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
    padding-left: 128px;
    padding-right: 128px;
  }
}

.product-card {
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  flex-flow: column wrap;
  align-items: center;
  width: 200px;
  height: 412px;
  margin: 0;
  padding: 32px 0 7px;
  display: flex;
}

.product-card__bg {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
  padding: 0 19px;
}

.product-card__title {
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #060b35;
  width: 166px;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.product-card__title:hover {
  color: #34568b;
}

.product-card__code {
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #616070;
  margin-top: 4px;
  margin-bottom: 0;
  margin-right: 68px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.product-card__rating {
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #060b35;
  justify-content: space-between;
  align-items: center;
  width: 169px;
  margin: 16px 0 2px 3px;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  display: flex;
}

.product-card__reviews {
  box-sizing: border-box;
  text-align: right;
  width: 52px;
  margin-left: 16px;
  padding-top: 1px;
  padding-bottom: 0;
  padding-left: 2px;
  display: flex;
}

.product-card__price {
  justify-content: space-between;
  width: 166px;
  margin-top: 21px;
  margin-bottom: 15px;
  display: flex;
}

.product-card__price-title {
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #616070;
  margin-bottom: 0;
  padding-top: 2px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.product-card__price-sum {
  box-sizing: border-box;
  text-align: right;
  text-align: end;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #060b35;
  padding-top: 2px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.product-card__link {
  color: #fff;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  background-color: #00acdc;
  border-style: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  display: flex;
}

.product-card__link:hover {
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
  transition: background-color .3s, color .3s;
}

.product-card__stars {
  justify-content: left;
  align-items: center;
  width: 100px;
  height: 13px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
}

.product-card__star {
  box-sizing: border-box;
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 13px;
  margin-left: 1px;
  margin-right: 6px;
  padding: 0;
  display: flex;
}

.product-card__star:nth-child(-n+4) {
  background-image: url("star-active.2be54011.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 0;
  display: flex;
  position: relative;
}

.header:after {
  content: "";
  z-index: -1;
  background-color: #fff;
  height: 2px;
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px #0000000d;
}

.header__logo {
  align-items: center;
  height: 60px;
  margin-left: 50px;
  padding-top: 2px;
  display: flex;
}

.header__logo-img {
  height: 40px;
  margin: 0;
}

.header__nav {
  align-items: center;
  height: 100%;
  margin-right: 50px;
  display: flex;
}

.header__nav-list {
  align-items: center;
  gap: 20px;
  padding: 0;
  list-style: none;
  display: flex;
}

.header__nav-item {
  align-items: center;
  height: 60px;
  display: flex;
}

.header__nav-item:first-child {
  margin-top: 0;
  margin-left: 0;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  color: #060b35;
  align-items: center;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.header__nav-link:hover {
  color: #00acdc;
}

.header__nav-link.is-active {
  color: #00acdc;
  text-transform: uppercase;
  position: relative;
}

.header__nav-link.is-active:after {
  content: "";
  background-color: #00acdc;
  border-radius: 8px;
  width: 37px;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (width >= 1200px) {
  .header {
    width: 100%;
  }
}
/*# sourceMappingURL=index.e378193d.css.map */
